<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--<link href="{{ STATIC_URL }}css/ol.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/ol.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">




</head>

<body>
<div>
    <img src="{{ STATIC_URL }}images/logo.jpg" style="width:128px;height:60px;">
</div>

<h1>生物多样性在线计算</h1>


<hr>
<h2>生物多样性指数</h2>

<ul>
    <li>物种丰富度：物种丰富度指数反映一定空间内生物的物种丰富程度，是描述物种多样性最简单、最实用和最客观的测度。</li>
    <li>Simpson优势度指数：强调稀有物种的重要性，用于描述个体在群落中出现的紊乱和不确定。</li>
    <li>Shannon-Wiener多样性指数：强调常见物种的重要性，反映优势物种在群落中的地位和作用。</li>
</ul>
<br>

<div>
    <form method="post" enctype="multipart/form-data" id="datafile-form">
        <label for="data-file" class="upload-btn">上传物种采样数据</label>
        <input id="data-file" style="display:none;" type="file" name="datafile">
        <input type="submit" hidden id="file-upload-submit"/>
    </form>
</div>
<div>
    <form method="post" id="select-col">
        <label for="col-species">输入物种类别所在列号</label><br>
        <input id="species" type="text" name="species"><br>
        <br>
        <input type="submit"/>
    </form>
</div>

<h2>数据显示</h2>
<nav>
    <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-table-tab" data-toggle="tab" href="#nav-table" role="tab"
           aria-controls="nav-table" aria-selected="true">上传数据表格</a>
        <a class="nav-item nav-link" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab"
           aria-controls="nav-map" aria-selected="false">采样点空间分布</a>
        <a class="nav-item nav-link" id="nav-chart-tab" data-toggle="tab" href="#nav-chart" role="tab"
           aria-controls="nav-chart" aria-selected="false">物种统计图</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">show data uploaded</div>
    <div class="tab-pane fade" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">show samples on map</div>
    <div class="tab-pane fade" id="nav-chart" role="tabpanel" aria-labelledby="nav-chart-tab">add chart</div>
</div>


<div id="sample_table"></div>
<script>


</script>


<div id="map"></div>


<!--preparing a DOM with width and height for ECharts-->
<div id="echarts"></div>



<h2>生物多样性指数计算</h2>

<div>
    <button onClick="bioindexCompute()">计算生物多样性指数</button>
</div>
<br>
<p id="results"></p>


<br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.form.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}ol.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}csv2geojson.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}stations.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}echarts.simple.min.js"></script>

    <script>
        $(function(){
            $('#datafile-form').ajaxForm({
        url: "/upload_data",
        success: function (data) {
            //显示data
            var list = data.split('\n');
            alert(list[0]);

            //生成html table
            var table = $('<table>');
            var rowArr = data.split('\n');
            var collen = rowArr[10].split(',').length;

            var firstrow = $('<tr>').css("background-color", "lightgrey");
            for (var j = 0; j < collen; j++) {
                var tcol = $('<td>').text(j);
                firstrow.append(tcol);
            }
            table.append(firstrow)

            if (rowArr.length < 10) {
                for (var i = 0; i < rowArr.length; i++) {
                    var trow = $('<tr>');
                    var colArr = rowArr[i].split(',');
                    for (var j = 0; j < colArr.length; j++) {
                        var tcol = $('<td>').text(colArr[j]);
                        trow.append(tcol);
                    }
                    table.append(trow);
                }
            } else {
                for (var i = 0; i < 10; i++) {
                    var trow = $('<tr>');
                    var colArr = rowArr[i].split(',');
                    for (var j = 0; j < colArr.length; j++) {
                        var tcol = $('<td>').text(colArr[j]);
                        tcol.addClass('cell')
                        trow.append(tcol);
                    }
                    table.append(trow);
                }
                var lastrow = $('<tr>');
                for (var j = 0; j < collen; j++) {
                    var tcol = $('<td>').text('...');
                    lastrow.append(tcol);
                }
                table.append(lastrow)
            }

            $('#table').append(table)


        },

        error: function () {
            alert("文件上传失败");
        }
    });

    $("#data-file").on("change", function () {
        $("#file-upload-submit").trigger("click");
    });
        });
        function bioindexCompute() {
            document.getElementById("results").innerHTML = "";
            $("#results").html("生物多样性指数计算结果如下： 物种丰富度: ; \n Simpson优势度指数： ；\n Shannon-Winner多样性指数: ;");
        }
    </script>
<script>
    function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var GD_LAYER = new ol.layer.Tile({
        name: "img",
        source: new ol.source.XYZ({
            url: "https://webst0{1-4}.is.autonavi.com/appmaptile?style=6&x={x}&y={y}&z={z}"
// url: 'http://127.0.0.1:8051/appmaptile?layer=img,cva&x={x}&y={y}&z={z}&fmt=png'
        })
    });

    var map = new ol.Map({
        layers: [GD_LAYER, STATIONLAYER],
        target: 'map',
        view: new ol.View({
            center: ol.proj.transform([107.6, 35.2], 'EPSG:4326', 'EPSG:3857'),
            zoom: 4,
            minZoom: 2
        })
    });
</script>
<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('echarts'));
    // specify chart configuration item and data
    var option = {
        title: {
            text: '菌类物种'
        },
        tooltip: {},
        legend: {
            data: ['数量']
        },
        xAxis: {
            data: ["常绿阔叶林", "阔叶林", "落叶阔叶林", "路边", "针阔混交林", "针叶林", "竹林和水杉混交"]
        },
        yAxis: {},
        series: [{
            name: '数量',
            type: 'bar',
            data: [39, 264, 133, 457, 43, 2]
        }]
    };

    // use configuration item and data specified to show chart
    myChart.setOption(option);
</script>
</body>
</html>
